body{
    background: saddlebrown;
}
.white{
    width: 100px;
    height: 100px;
    background: white;
    float: right;
}
.black{
    width: 100px;
    height: 100px;
    background: black;
    float: right;
}
.orta{
    width: 820px;
   
    /*margin: 0 auto;*/
    background: white;
  
}
.herf{
    background: black;
  color: white;
 padding: 10px 45.4px;
 float: left;
 font-size: 20px; 
  
}
.margin{
    margin-left: 37px; 
}
.border3{    
  border-top: 4px white solid; 
}
.border1{
  border-bottom: 4px white solid; 
}
.reqem{
  font-size:20px; 
     padding-top: 82px;
  
    background: black;
    width: 17px;
    
    
    color: white;
}
/*.sag{
    float: left;
}*/
.sol{
    position: absolute;
    top: 8;
    left: 845;
    float: right;
        height: 894px;
    border-left: 5px white solid;
    background: black;
    padding: 0px 7.5px; 
}
.sag{
    padding-left: 15px; 
    position: absolute;
    height: 894px;
    border-right: 5px white solid;
    background: black; 
    padding: 0px 7.5px; 
}
.ort{
    position: absolute;
    top: 55px;
    left: 25px;
}
.reqem1{
  font-size:20px; 
     padding-top: 82px;  
    background: black;
    width: 17px;    
   
    color: white;
}
.asagi{
    position: absolute;
    top: 855;
    left: 8px;
}
